{% extends 'base/base.html' %}
{% load static %}
{% block main_container %}
	<div class="col-md-11 m-2 py-3 px-4">
		<h4>Vehiculos de {{request.user.first_name}} {{request.user.last_name}}</h4>

		<p class="lead">Estos son los veh&iacute;culos que tienes registrados con nosotros.</p>		

		<div class="row text-center">
			<div class="col-md-10"></div>
			<button class="btn btn-info col-md-2">Agregar Veh&iacute;culo&nbsp;&nbsp;<i class="fas fa-plus-circle"></i></button>
		</div>
		
		<div class="row mt-4 justify-content-md-center">

			<table class="table table-hover col-12">
				<thead>
					<tr class="d-flex bg-primary text-white text-center">
						<th class="col-1">N°</th>
						<th class="col-2">Placa</th>
						<th class="col-2">Marca</th>
						<th class="col-2">Modelo</th>
						<th class="col-2">Año</th>
						<th class="col-3">Opciones</th>
					</tr>
				</thead>
				<tbody>
					{% for vehiculo in vehiculos %}
					<tr class="d-flex text-center">
						<td class="col-1 font-weight-bold">{{ forloop.counter }}</td>
						<td class="col-2 font-weight-bold">{{vehiculo.placa}}</td>
						<td class="col-2">{{vehiculo.marca}}</td>
						<td class="col-2">{{vehiculo.modelo}}</td>
						<td class="col-2">{{vehiculo.anio}}</td>
						<td class="col-3">
							<button class="btn btn-info" title="Ver detalles del Veh&iacute;culo">Ver&nbsp;&nbsp;<i class="fas fa-info-circle"></i></button>
							<button class="btn btn-success" title="Editar Información del Veh&iacute;culo">Editar&nbsp;&nbsp;<i class="fas fa-pen"></i></button>
							<button class="btn btn-danger" title="Eliminar el Veh&iacute;culo">Eliminar&nbsp;&nbsp;<i class="far fa-trash-alt"></i></button>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table> 

		</div>
	</div>

{% endblock %}