<form method="POST" action="{% url 'login' %}" class="post-form m-2 p-3 login-form">

	<fieldset>
		<legend class="mb-4">Ingresa tus credenciales</legend>
		<div class="form-group row">
			<label for="username" class="col-sm-3 col-form-label">Usuario</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="username" name="username" placeholder="">					
			</div>
		</div>
		<div class="form-group row">
			<label for="password" class="col-sm-3 col-form-label">Contraseña</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="password" name="password" placeholder="">					
			</div>
		</div>
		<div class="form-group row justify-content-md-center">
			{% csrf_token %}
			<button type="submit" class="btn btn-success col-sm-5 col-form-label">Ingresar</button>
		</div>		    
	</fieldset>

</form>