{% extends 'base/base.html' %}
{% block title %}Reset Password{% endblock %}

{% block main_container %}
<div class="col-md-6 py-3 px-4 main-container">
	<div class="row my-5 justify-content-md-between">
		<label for="exampleFormControlInput1">Especifique su email para enviarle las instrucciones para la recuperación de contraseña.</label> 
		<form action="" method="post">
			<div class="form-group">
			    <div style="display:none">
			        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
			    </div>
			     {{ form.email.errors }}
			     <div class="form-group">
    				<label for="exampleInputEmail1">Dirección de correo electrónico</label>
    				{{ form.email }}
  				</div>
			    <button type="submit" class="btn btn-primary mb-2">Recuperar contraseña</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}