<form action="{% url 'almacenar_tecnico' %}" method="POST">
	<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Agregar nuevo t&eacute;cnico.</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		{% csrf_token %}
		<div class="form-group row">
			<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="nombre" name="nombre" placeholder="">
			</div>
		</div>
		<div class="form-group row">
			<label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="apellido" name="apellido" placeholder="">
			</div>
		</div>
		<div class="form-group row">
			<label for="usuario" class="col-sm-2 col-form-label">Usuario</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="usuario" name="usuario" placeholder="">
			</div>
		</div>
		<div class="form-group row">
			<label for="correo" class="col-sm-2 col-form-label">Correo</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="correo" name="correo" placeholder="email@example.com">
			</div>
		</div>
		<div class="form-group row">
			<label for="especializacion" class="col-sm-3 col-form-label">Especialización</label>
			<div class="col-sm-9">
				<select class="form-control" id="especialidad_id" name="especialidad_id">
					{% for especializacion in especializaciones %}
					<option id='id_especialidad' name='id_especialidad' value="{{ especializacion.id }}">
						{{ especializacion.nombre}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label for="password" class="col-sm-2 col-form-label">Contraseña</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="password" name="password" placeholder="">
			</div>
		</div>
		<div class="form-group row align-items-center">
			<label for="password-2" class="col-sm-2 col-form-label">Confirmar Contraseña</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="password-2" name="password-2" placeholder="">
			</div>
		</div>
		<div class="form-group row">
			<label for="telefono" class="col-sm-2 col-form-label">Telefono</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="telefono" name="telefono" placeholder="">
			</div>
		</div>
		<div class="form-group row">
			<label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="direccion" name="direccion" placeholder="">
			</div>
		</div>
		<div class="form-group row justify-content-md-center">
			{% csrf_token %}
			<button type="submit" class="btn btn-primary col-sm-4 col-form-label">Registrarse</button>
		</div>
	</div>
</form>