{% extends 'base/base.html' %}

{% load static %}

{% block title%}Taller Ortiz - Inicio{% endblock %}

{% block extra_header %}

	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"> <!-- Start Carousel -->

		<div class="carousel-inner" role="listbox">

			<div class="carousel-caption d-none d-md-block carousel-message">

				{% if rol == 0 %} 		<!-- Vista para Admin -->
					<h3>{{first_name}}&nbsp;{{last_name}}</h3>
					<p class="float-right p-carousel">&#8212;&nbsp;Administrador</p>
				{% elif rol == 1 %} 	<!-- Vista para Técnico -->
					<h3>{{first_name}}&nbsp;{{last_name}}</h3>
					<p class="float-right p-carousel">&#8212;&nbsp;T&eacute;cnico</p>
				{% elif rol == 2 %} 	<!-- Vista para Cliente -->
					<h3>{{first_name}}&nbsp;{{last_name}}</h3>
					<p class="float-right p-carousel">&#8212;&nbsp;Cliente</p>
				{% else %} 				<!-- Vista para Visitante -->
					<h2>Taller Ort&iacute;z</h2>
				{% endif %}

				
			</div>

			<!-- Slide One - Set the background image for this slide in the line below -->
			<div class="carousel-item active" style="background-image: url({% static 'img/carousel/c1.jpg' %})">
			</div>

			<!-- Slide Two - Set the background image for this slide in the line below -->
			<div class="carousel-item" style="background-image: url({% static 'img/carousel/c2.jpg' %})">
			</div>

			<!-- Slide Three - Set the background image for this slide in the line below -->
			<div class="carousel-item" style="background-image: url({% static 'img/carousel/c3.jpg' %})">
			</div>

		</div>

	</div>	<!-- End Carousel -->

{% endblock %}

{% block main_container %}
	
	{% if rol == 0 %} 		<!-- Vista para Admin -->
	{% elif rol == 1 %} 	<!-- Vista para Técnico -->

	{% elif rol == 2 %} 	<!-- Vista para Cliente -->
		
		{% include 'index_cliente.html' %}

	{% else %} 				<!-- Vista para Visitante -->

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		{% include 'users/login.html' %}
	</div>

	{% endif %}

{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/side.js' %}"></script>
{% endblock %}