<div class="col-md-11 m-2 py-3 px-4">

		<h3>¿Que deseas hacer hoy?</h3>

	<div class="row mt-4 justify-content-md-between">

		<div class="card-index border-success col-sm-4">
			<div class="card-body">
				<h4 class="card-title">Ver Veh&iacute;culos</h4>
				<div class="row">
					<p class="card-text col-sm-10 text-justify">Consulte los veh&iacute;culos que tiene registrados en nuestro taller y el estado de cada uno de ellos.</p>
					<i class="fas fa-car-side fa-3x"></i>
				</div>
			</div>
		</div>

		<div class="card-index border-success col-sm-4">
			<div class="card-body">
				<h4 class="card-title">Consulta de Procesos</h4>
				<div class="row">
					<p class="card-text col-sm-10 text-justify">¿Tiene alg&uacute;n veh&iacute;culo en nuestro taller? Consulte los procesos que se le realiz&aacute;n en este momento.</p>
					<i class="fas fa-tools fa-3x"></i>
				</div>
			</div>
		</div>

		<div class="card-index border-success col-sm-4">
			<div class="card-body">
				<h4 class="card-title">Solicitud de Citas</h4>
				<div class="row">
					<p class="card-text col-sm-10 text-justify">Consulte las visitas que ha solicitado o realice una nueva solicitud a nuestro taller.</p>
					<i class="fas fa-calendar-day fa-3x"></i>
				</div>
			</div>
		</div>

	</div>

</div>