{% extends 'base/base.html' %}
{% load static %}
{% block main_container %}
<div class="col-md-11 py-3 px-4 main-container">
	{% csrf_token %}
	<h4>Administraci&oacute;n de Clientes</h4>

	<p class="lead">Estos son los Clientes que se han registrado con nosotros.</p>

	<div class="row text-center">
		<div class="col-md-10"></div>
		<button class="btn btn-info col-md-2" data-toggle="modal" data-target="#agregar-cliente-modal">Agregar Cliente<i class="fas fa-plus-circle"></i></button>
	</div>

	<div class="row mt-4 justify-content-md-center">

		<table class="table table-hover col-12">
			<thead>
				<tr class="d-flex bg-primary text-white text-center">
					<th class="col-1">N°</th>
					<th class="col-2">Nombre</th>
					<th class="col-2">Apellido</th>
					<th class="col-1">Telefono</th>
					<th class="col-2">Correo</th>
					<th class="col-4">Opciones</th>
				</tr>
			</thead>
			<tbody>
				{% for cliente in clientes %}
				<tr class="d-flex text-center">
					<td class="col-1 font-weight-bold">{{ forloop.counter }}</td>
					<td class="col-2 font-weight-bold">{{cliente.user.first_name}}</td>
					<td class="col-2">{{cliente.user.last_name}}</td>
					<td class="col-1">{{cliente.user.telefono}}</td>
					<td class="col-2">{{cliente.user.email}}</td>
					<td class="col-4">

						<a href="{% url 'gestion_visitas_cliente' cliente_id=cliente.id %}" class="btn btn-info" title="Ver detalles de las Visitas realizadas por el cliente al taller"
						>Visitas&nbsp;&nbsp;<i class="fas fa-home"></i>
						</a>

						<button class="btn btn-success" title="Editar Información del T&eacute;cnico"
							data-toggle="modal" data-target="#editar-cliente-modal"
							data-id="{{cliente.id}}"
							data-nombre="{{cliente.user.first_name}}"
							data-apellido="{{cliente.user.last_name}}"
							data-usuario="{{cliente.user.username}}"
							data-correo="{{cliente.user.email}}"
							data-telefono="{{cliente.user.telefono}}"
							data-direccion="{{cliente.user.direccion}}"
						>
						Editar&nbsp;&nbsp;<i class="fas fa-pen"></i>
						</button>

						<button class="btn btn-danger" title="Eliminar el T&eacute;cnico"
							data-toggle="modal" data-target="#eliminar-cliente-modal" data-id="{{cliente.id}}"
							data-nombre="{{cliente.user.first_name}}"
							data-apellido="{{cliente.user.last_name}}"
							data-user="{{cliente.user.id}}"
						>
							Eliminar&nbsp;&nbsp;<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="6">
						<h4>Aún no registras t&eacute;cnicos.</h4>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<!-- Modal mensaje de error -->
{% if messages %}
<div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Error al guardar el t&eacute;</h3>
			</div>
			{% for message in messages %}
			<div class="modal-body">
				<h4 {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h4>
			</div>
			{% endfor %}
			<div class="modal-footer">
				<a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
			</div>
		</div>
	</div>
</div>
{% endif %}

<!-- Modal Agregar Cliente -->
<div class="modal fade" id="agregar-cliente-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">

	<div class="modal-content">
	<form action="{% url 'registrar_cliente' %}" method="POST">

		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Agregar nuevo Cliente.</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body">
			<div class="form-group row">
				<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="nombre" name="nombre" placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="apellido" name="apellido" placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label for="usuario" class="col-sm-2 col-form-label">Usuario</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="usuario" name="usuario" placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label for="correo" class="col-sm-2 col-form-label">Correo</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="correo" name="correo" placeholder="email@example.com">
				</div>
			</div>
			
			<div class="form-group row">
				<label for="password" class="col-sm-2 col-form-label">Contraseña</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="password" name="password" placeholder="">
				</div>
			</div>
			<div class="form-group row align-items-center">
				<label for="password-2" class="col-sm-2 col-form-label">Confirmar Contraseña</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="password-2" name="password-2" placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label for="telefono" class="col-sm-2 col-form-label">Telefono</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="telefono" name="telefono" placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="direccion" name="direccion" placeholder="">
				</div>
			</div>
			<div class="form-group row justify-content-md-center">
				
			</div>
		</div>
		
		<div class="modal-footer">
			{% csrf_token %}
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			<button type="submit" class="btn btn-primary col-sm-4 col-form-label">Registrar</button>
		</div>

	</form>
	</div>

</div>
</div>

<!-- Modal Editar Cliente -->
<div class="modal fade" id="editar-cliente-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
		
	<div class="modal-content">
	<form action="{% url 'editar_cliente' %}" method="POST">
			
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Editar Cliente.</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body">
			<div class="form-group row d-none">
				<label for="id-edit" class="col-sm-2 col-form-label">ID de Cliente</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="id-edit" name="id_edit" placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label for="nombre-edit" class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="nombre-edit" name="nombre_edit" placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label for="apellido-edit" class="col-sm-2 col-form-label">Apellido</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="apellido-edit" name="apellido_edit"
						placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label for="usuario-edit" class="col-sm-2 col-form-label">Usuario</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="usuario-edit" name="usuario_edit" placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label for="correo-edit" class="col-sm-2 col-form-label">Correo</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="correo-edit" name="correo_edit"
						placeholder="email@example.com">
				</div>
			</div>
			
			<div class="form-group row">
				<label for="telefono-edit" class="col-sm-2 col-form-label">Telefono</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="telefono-edit" name="telefono_edit"
						placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label for="direccion-edit" class="col-sm-2 col-form-label">Dirección</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="direccion-edit" name="direccion_edit"
						placeholder="">
				</div>
			</div>
		</div>

		<div class="modal-footer">
			{% csrf_token %}
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			<input type="submit" class="btn btn-success" value="Editar">
		</div>

	</form>
	</div>

</div>
</div>

<!-- Modal Eliminar Cliente -->
<div class="modal fade" id="eliminar-cliente-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="{% url 'eliminar_cliente' %}" method="POST">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Eliminar T&eacute;cnico.</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{% csrf_token %}
					<div class="form-group row d-none">
						<label for="id-delete" class="col-sm-2 col-form-label">ID de T&eacute;cnico</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="id-delete" name="id_delete" placeholder="">
						</div>
						<label for="user-delete" class="col-sm-2 col-form-label">ID de Usuario</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="user-delete" name="user_delete" placeholder="">
						</div>
					</div>
					<div class="form-group row justify-content-md-center">
						<h4>¿Estás seguro que quieres eliminar el T&eacute;cnico?</h4>
							<label for="nombre-delete" class="col-sm-2 col-form-label">Nombre</label>
							<div class="col-sm-3">
								<input type="text" readonly="" class="form-control-plaintext" id="nombre-delete"
									name="nombre_delete" placeholder="">
							</div>
							<label for="apellido-delete" class="col-sm-2 col-form-label">Apellido</label>
							<div class="col-sm-3">
								<input type="text" readonly="" class="form-control-plaintext" id="apellido-delete"
									name="apellido_delete" placeholder="">
							</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<input type="submit" class="btn btn-danger" value="Eliminar">
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$("#mostrarmodal").modal("show");
	});
</script>

{% endblock %}

{% block extra_js %}
<script src="{% static '/js/clientes.js' %}"></script>
{% endblock %}