{% extends 'base/base.html' %}

<div class="col-md-11 m-2 py-3 px-4">

	<h3>Estas en el Index de visitas</h3>

	<div class="row mt-4 justify-content-md-center">

		<a href="" class="card-link">
			<div class="card-index border-success col-sm-4">
				<div class="card-body">
					<h4 class="card-title">Nueva Visita</h4>
					<div class="row">
						<p class="card-text col-sm-10 text-justify">Registre una nueva visita por parte de un cliente a su taller.</p>
						<i class="fas fa-concierge-bell fa-3x"></i>
					</div>
				</div>
			</div>
		</a>

		<a href="" class="card-link">
			<div class="card-index border-success col-sm-4">
				<div class="card-body">
					<h4 class="card-title">Gestion de Visitas</h4>
					<div class="row">
						<p class="card-text col-sm-10 text-justify">Vea las visitas y procesos que se llevan a cabo en este momento.</p>
						<i class="fas fa-toolbox fa-3x"></i>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>