{% extends 'base/base.html' %}
{% load static %}

{% block main_container %}
<div class="col-md-11 py-3 px-4 main-container">

	{% csrf_token %}

	<div class="pt-3">
		<h2>Visitas</h2>
		<p class="lead">Visitas al taller del cliente <span class="text-info">{{cliente.user.first_name}} {{cliente.user.last_name}}</span></p>
		<div class="row">
			<span class="col-md-10"></span>
			<a href="{% url 'vehiculos_admin' cliente_id=cliente.id %}" title="Agrega vehículos al cliente" class="btn btn-success col-md-2">
				Gestión de Vehículos&nbsp;&nbsp;<i class="fas fa-car-side"></i>
			</a>
		</div>
	</div>

	<div class="row mt-0 justify-content-md-center">

		<table class="table table-hover col-12">

		{%for vehiculo in vehiculos %}
			
			<thead class="">
				<tr class="d-flex bg-primary text-white text-left mt-4 align-items-center">
					<th class="col-6 border-0 "><i class="fas fa-car-side"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{vehiculo.marca}}&nbsp;{{vehiculo.modelo}}&nbsp;-&nbsp;{{vehiculo.placa}}</th>
					<th class="col-6 text-right border-0">
						{% if request.user.rol == 0 or request.user.rol == 1 %}
							<a href="{% url 'expediente_vehiculo' vehiculo_id=vehiculo.id %}" class="btn btn-success" title="">
								Actualizar Expediente &nbsp;&nbsp;<i class="fas fa-file-invoice"></i>
							</a>&nbsp;&nbsp;
							<button class="btn btn-info col-md-3" data-toggle="modal" data-target="#agregar-visita-modal"
								data-id-cliente="{{cliente.id}}"
								data-id-vehiculo="{{vehiculo.id}}"
								data-placa="{{vehiculo.placa}}"
								data-marca="{{vehiculo.marca}}"
								data-modelo="{{vehiculo.modelo}}"
								data-anio="{{vehiculo.anio}}"
							>
								Agregar Visita&nbsp;&nbsp;&nbsp;<i class="fas fa-plus-circle"></i>
							</button>
						{% else %}
							<a href="{% url 'expediente_vehiculo' vehiculo_id=vehiculo.id %}" class="btn btn-success" title="">
								Ver Expediente &nbsp;&nbsp;<i class="fas fa-file-invoice"></i>
							</a>&nbsp;&nbsp;
						{% endif %}
					</th>
				</tr>
				<tr class="d-flex bg-primary text-white text-center ">
					<th class="col-1 ">Fecha</th>
					<th class="col-1 ">Caracter</th>
					<th class="col-4 ">Detalles</th>
					<th class="col-2 ">Técnico</th>
					<th class="col-4 "></th>
				</tr>
			</thead>
			<tbody class="tbody-visitas">
				{% for visita_vehiculo in visitas_vehiculos %}

					{% if visita_vehiculo.vehiculo_id == vehiculo.id %}
						<tr class="d-flex text-center">
							<td class="col-1">{{visita_vehiculo.fecha|date:'d-m-Y'}}</td>
							<td class="col-1">{{visita_vehiculo.caracter}}</td>
							<td class="col-4">{{visita_vehiculo.comentarios}}</td>
							<td class="col-2">{{visita_vehiculo.tecnico.user.first_name}}&nbsp;{{visita_vehiculo.tecnico.user.last_name}}</td>
							<td class="col-4 text-left">
								<a href="{% url 'gestion_procesos_visita' visita_id=visita_vehiculo.id %}" class="btn btn-info" title="Ver detalles y procesos de la Visita">
									Procesos &nbsp;&nbsp;<i class="fas fa-cogs"></i>
								</a>
								{% if visita_vehiculo.finalizada == False and request.user.rol == 2 %}
									&nbsp;&nbsp;<span class="text-warning font-weight-bold">Visita en Proceso</span>
								{% elif visita_vehiculo.finalizada == True and request.user.rol == 2 %}
									&nbsp;&nbsp;<span class="text-success font-weight-bold">Visita Finalizada</span>
								{% endif %}
								{% if visita_vehiculo.finalizada == False and request.user.rol == 0 %}
									<button class="btn btn-success" data-id-visita="{{visita_vehiculo.id}}"
										data-toggle="modal" data-target="#editar-visita-modal"
										data-id-cliente="{{cliente.id}}"
										data-id-visita="{{visita_vehiculo.id}}"
										data-id-vehiculo="{{vehiculo.id}}"
										data-placa="{{vehiculo.placa}}"
										data-marca="{{vehiculo.marca}}"
										data-modelo="{{vehiculo.modelo}}"
										data-anio="{{vehiculo.anio}}"
										data-tecnico="{{visita_vehiculo.tecnico.id}}"
										data-caracter="{{visita_vehiculo.caracter}}"
										data-fecha="{{visita_vehiculo.fecha|date:'d/m/Y H:i A'}}"
										data-slot="{{visita_vehiculo.slot.id}}"
										data-comentario="{{visita_vehiculo.comentarios}}"
									>
										Editar&nbsp;&nbsp;&nbsp;<i class="fas fa-pen"></i>
									</button>
									<button class="btn btn-warning" data-id-visita="{{visita_vehiculo.id}}" data-toggle="modal" data-target="#finalizar-visita-modal">
										Finalizar Visita&nbsp;&nbsp;&nbsp;<i class="fas fa-check-double"></i>
									</button>
									
								{% elif visita_vehiculo.finalizada == False and request.user.rol == 1%}
									<button class="btn btn-warning" data-id-visita="{{visita_vehiculo.id}}" data-toggle="modal" data-target="#finalizar-visita-modal">
										Finalizar Visita&nbsp;&nbsp;&nbsp;<i class="fas fa-check-double"></i>
									</button>
								{% endif %}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>

		{% empty %}
			<div class="col-md-12 text-center">
				<p class="lead">El Cliente no cuenta con vehículos registrados</p>
				<p class="lead">¿Desea Registrar uno? Ve a la Gestión de Vehículos</p>
				<a href="{% url 'vehiculos_admin' cliente_id=cliente.id %}" title="Agrega vehículos al cliente" class="btn btn-success">Gestión de Vehículos&nbsp;&nbsp;<i class="fas fa-car-side"></i></a>
			</div>
		{% endfor %}

		</table>

	</div>

</div>

<!-- Modal Agregar Visita -->
<div class="modal fade" id="agregar-visita-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">

	<form action="{% url 'registrar_visita' %}" method="POST">

		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Agregar Nueva Visita.</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body">

			<div class="form-group row px-4 justify-content-md-center">
				
				<h4>Registrar una nueva visita para el vehículo</h4>

				<div class="d-none">
					<label for="vehiculo-visita" class="col-form-label mb-0 pb-0">Vehículo ID:</label>
					<input type="text" readonly="" class="form-control-plaintext mt-0 pt-0" id="vehiculo-visita" name="vehiculo_visita">
					<label for="cliente-visita" class="col-form-label mb-0 pb-0">Cliente ID:</label>
					<input type="text" readonly="" class="form-control-plaintext mt-0 pt-0" id="cliente-visita" name="cliente_visita">
				</div>

				<div class="col-12 row justify-content-md-between">
				
					<div class="col-3 row">
						<label for="placa-visita" class="col-form-label mb-0 pb-0">Placa:</label>
						<input type="text" readonly="" class="form-control-plaintext mt-0 pt-0" id="placa-visita" name="placa_visita" placeholder="">		
					</div>
					<div class=" col-3 row">
						<label for="marca-visita" class="col-form-label mb-0 pb-0">Marca:</label>
						<input type="text" readonly="" class="form-control-plaintext mt-0 pt-0" id="marca-visita" name="marca_visita" placeholder="">
					</div>
					<div class=" col-3 row">
						<label for="modelo-visita" class="col-form-label mb-0 pb-0">Modelo:</label>
						<input type="text" readonly="" class="form-control-plaintext mt-0 pt-0" id="modelo-visita" name="modelo_visita" placeholder="">
					</div>
					<div class=" col-3 row">
						<label for="anio-visita" class="col-form-label mb-0 pb-0">Año:</label>
						<input type="text" readonly="" class="form-control-plaintext mt-0 pt-0" id="anio-visita" name="anio_visita" placeholder="">
					</div>
				</div>
			</div>

			<div class="form-group row align-items-center">
				<label for="tecnico-visita" class="col-sm-3 col-form-label">Técnico Encargado:</label>
				<div class="col-sm-9">
					<select class="form-control" id="tecnico-visita" name="tecnico_visita">
						{% for tecnico in tecnicos %}
						{% if tecnico not in tecnicos_ocupados %}
							<option value="{{ tecnico.id }}">
								{{tecnico.user.first_name}}&nbsp;{{tecnico.user.last_name}}&nbsp;-&nbsp;{{tecnico.especializacion.nombre}}
							</option>
						{% else %}
							<option value="{{ tecnico.id }}" class="bg-danger text-white"" disabled="">
								{{tecnico.user.first_name}}&nbsp;{{tecnico.user.last_name}}&nbsp;-&nbsp;{{tecnico.especializacion.nombre}} - Ocupado
							</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group row align-items-center">
				<label for="caracter-visita" class="col-sm-3 col-form-label">Caracter de Visita:</label>
				<div class="col-sm-9">
					<select class="form-control" id="caracter-visita" name="caracter_visita">
						<option name='caracter_visita' value="Mantenimiento">Mantenimiento</option>
						<option name='caracter_visita' value="Reparación">Reparación</option>
						<option name='caracter_visita' value="Revisión">Revisión</option>
					</select>
				</div>
			</div>
			<div class="form-group row align-items-center">
				<label for="fecha-visita" class="col-sm-3 col-form-label">Fecha de Visita:</label>
				<div class="col-sm-9">
					<div class='input-group date' id='fecha-visita'>
						<input type='text' name="fecha_visita" class="form-control">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar">&nbsp;&nbsp;<i class="fas fa-calendar-day fa-2x"></i></span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group row align-items-center">
				<label for="slot-visita" class="col-sm-3 col-form-label">Slot a Utilizar:</label>
				<div class="col-sm-9">
					<select class="form-control" id="slot-visita" name="slot_visita">
						{% for slot in slots %}
							{% if slot.disponible == 1 and slot.reservacion != 1 %}
								<option id='' name='' value="{{ slot.id }}">
									{{slot.id}}
								</option>
							{% else %}
								<option disabled="" class="bg-danger text-white" value="{{ slot.id }}">
									{{slot.id}} - Ocupado
								</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group row align-items-center">
				<label for="comentario-visita" class="col-sm-3 col-form-label">Comentario:</label>
				<div class="col-sm-9">
					<textarea type='text' id="comentario-visita" name="comentario_visita" class="form-control"></textarea>
				</div>
			</div>

		</div>

		<div class="modal-footer">
			{% csrf_token %}
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			<input type="submit" class="btn btn-success" value="Agregar Visita">
		</div>
	</form>
</div>
</div>
</div>

<!-- Modal Editar Visita -->
<div class="modal fade" id="editar-visita-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">

	<form action="{% url 'editar_visita' %}" method="POST">

		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Editar Visita.</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body">

			<div class="form-group row px-4 justify-content-md-center">
				
				<h4>Editar la visita del vehículo</h4>

				<div class="d-none">
					<label for="vehiculo-visita-edit" class="col-form-label mb-0 pb-0">Vehículo ID:</label>
					<input type="text" readonly="" class="form-control-plaintext mt-0 pt-0" id="vehiculo-visita-edit" name="vehiculo_visita_edit">
					<label for="cliente-visita-edit" class="col-form-label mb-0 pb-0">Cliente ID:</label>
					<input type="text" readonly="" class="form-control-plaintext mt-0 pt-0" id="cliente-visita-edit" name="cliente_visita_edit">
					<label for="visita-vehiculo-edit" class="col-form-label mb-0 pb-0">Visita ID:</label>
					<input type="text" readonly="" class="form-control-plaintext mt-0 pt-0" id="visita-vehiculo-edit" name="visita_vehiculo_edit">
				</div>

				<div class="col-12 row justify-content-md-between">
				
					<div class="col-3 row">
						<label for="placa-visita" class="col-form-label mb-0 pb-0">Placa:</label>
						<input type="text" readonly="" class="form-control-plaintext mt-0 pt-0" id="placa-visita-edit" name="placa_visita" placeholder="">		
					</div>
					<div class=" col-3 row">
						<label for="marca-visita" class="col-form-label mb-0 pb-0">Marca:</label>
						<input type="text" readonly="" class="form-control-plaintext mt-0 pt-0" id="marca-visita-edit" name="marca_visita_edit" placeholder="">
					</div>
					<div class=" col-3 row">
						<label for="modelo-visita" class="col-form-label mb-0 pb-0">Modelo:</label>
						<input type="text" readonly="" class="form-control-plaintext mt-0 pt-0" id="modelo-visita-edit" name="modelo_visita_edit" placeholder="">
					</div>
					<div class=" col-3 row">
						<label for="anio-visita" class="col-form-label mb-0 pb-0">Año:</label>
						<input type="text" readonly="" class="form-control-plaintext mt-0 pt-0" id="anio-visita-edit" name="anio_visita_edit" placeholder="">
					</div>
				</div>
			</div>

			<div class="form-group row align-items-center">
				<label for="tecnico-visita-edit" class="col-sm-3 col-form-label">Técnico Encargado:</label>
				<div class="col-sm-9">
					<select class="form-control" id="tecnico-visita-edit" name="tecnico_visita_edit">
						{% for tecnico in tecnicos %}
						{% if tecnico not in tecnicos_ocupados %}
							<option value="{{ tecnico.id }}">
								{{tecnico.user.first_name}}&nbsp;{{tecnico.user.last_name}}&nbsp;-&nbsp;{{tecnico.especializacion.nombre}}
							</option>
						{% else %}
							<option value="{{ tecnico.id }}" class="bg-danger text-white">
								{{tecnico.user.first_name}}&nbsp;{{tecnico.user.last_name}}&nbsp;-&nbsp;{{tecnico.especializacion.nombre}} - Ocupado
							</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group row align-items-center">
				<label for="caracter-visita-edit" class="col-sm-3 col-form-label">Caracter de Visita:</label>
				<div class="col-sm-9">
					<select class="form-control" id="caracter-visita-edit" name="caracter_visita_edit">
						<option name='caracter_visita' value="Mantenimiento">Mantenimiento</option>
						<option name='caracter_visita' value="Reparación">Reparación</option>
						<option name='caracter_visita' value="Revisión">Revisión</option>
					</select>
				</div>
			</div>
			<div class="form-group row align-items-center">
				<label for="fecha-visita-edit" class="col-sm-3 col-form-label">Fecha de Visita:</label>
				<div class="col-sm-9">
					<div class='input-group date'>
						<input type='text' id='fecha-visita-edit' name="fecha_visita_edit" class="form-control">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar">&nbsp;&nbsp;<i class="fas fa-calendar-day fa-2x"></i></span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group row align-items-center">
				<label for="slot-visita-edit" class="col-sm-3 col-form-label">Slot a Utilizar:</label>
				<div class="col-sm-9">
					<select class="form-control" id="slot-visita-edit" name="slot_visita_edit">
						{% for slot in slots %}
							{% if slot.disponible == 1 and slot.reservacion != 1 %}
								<option id='' name='' value="{{ slot.id }}">
									{{slot.id}}
								</option>
							{% else %}
								<option class="bg-danger text-white" value="{{ slot.id }}">
									{{slot.id}} - Ocupado
								</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group row align-items-center">
				<label for="comentario-visita-edit" class="col-sm-3 col-form-label">Comentario:</label>
				<div class="col-sm-9">
					<textarea type='text' id="comentario-visita-edit" name="comentario_visita_edit" class="form-control"></textarea>
				</div>
			</div>

		</div>

		<div class="modal-footer">
			{% csrf_token %}
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			<input type="submit" class="btn btn-success" value="Editar Visita">
		</div>
	</form>
</div>
</div>
</div>

<!-- Modal Finalizar Visita -->
<div class="modal fade" id="finalizar-visita-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="{% url 'finalizar_visita' %}" method="POST">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Finalizar Visita.</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="d-none">
						<label for="id-visita-fin" class="col-form-label mb-0 pb-0">Visita ID:</label>
						<input type="text" id="id-visita-fin" name="id_visita_fin" class="form-control-plaintext mt-0 pt-0" readonly="">
						<label for="visita-index" class="col-form-label mb-0 pb-0">Visita ID:</label>
						<input type="text" id="visita-index" name="visita_index" class="form-control-plaintext mt-0 pt-0" value="1" readonly="">
						<label for="cliente-visita" class="col-form-label mb-0 pb-0">Cliente ID:</label>
						<input type="text" id="cliente-visita" name="cliente_visita" class="form-control-plaintext mt-0 pt-0" value="{{cliente.id}}">
					</div>

					<div class="form-group row mt-3 px-4 align-items-center">
						<p class="lead"><i class="fas fa-exclamation-triangle text-warning"></i>&nbsp;&nbsp;&nbsp;¿Desea finalizar la visita? Esto significa que ya no podrá agregar u editar procesos en la visita actual.</p>
					</div>

				</div>
				<div class="modal-footer">
					{% csrf_token %}
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<input type="submit" class="btn btn-warning" value="Finalizar" id="Agregar">
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block extra_js %}
	<script src="{% static '/js/visitas/visitas.js' %}"></script>
{% endblock %}