<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script defer src="{%static 'fontawesome/js/all.js' %}"></script>

	<script src="{% static '/bootstrap/js/jquery-3.4.1.js' %}"></script>
	<script src="{% static '/bootstrap/js/moment.min.js' %}"></script>
	<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>	<!-- no existe -->
	<script src="{% static '/bootstrap/js/popper.min.js' %}"></script>		<!-- acá -->
	<script src="{% static '/bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
	
	<link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap-datetimepicker.css' %}">	<!-- acá -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilo.css' %}">

	{% block extra_head %}{% endblock %}

	<title>{% block title %}{% endblock %}</title>
</head>
<body>

	<header id="header">
		{% block header %}
			{% include 'base/header.html' %}
		{% endblock %}
		{% block extra_header %}
		{% endblock %}
	</header>

	<main id="main">

		<div class="wrap main-wrap">

			<div class="w-100 mx-0 justify-content-md-center row">
				{%block main_container%}
				{% endblock %}
			</div>
		</div>

	</main>

	{% block footer %}
	{% include 'base/footer.html' %}
	{% endblock%}

	{% block extra_js %}
	{% endblock %}

</body>
</html>